@use '@/styles/variables' as *;

.button {
  display: inline-block;
  font-family: $second-font;
  font-size: clamp(14px, 1.5vw, 18px);
  padding: clamp(10px, 1.5vw, 14px);
  white-space: nowrap;
  outline: none;
  border-radius: 40px;
  transition: all $transition-duration ease;

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    pointer-events: none;
  }
}

.form,
.header {
  align-self: center;
  color: $color-light-beige;
  background: linear-gradient(135deg, $color-gold, $color-dark-gold);
  border: 2px solid $color-gold;

  @media (hover: hover) {
    &:hover {
      background: linear-gradient(
        135deg,
        $color-dark-gold,
        $color-gold
      );
      transform: scale(1.05);
    }
  }

  &:focus-visible {
    background: transparent;
    outline: 2px solid $color-gold;
  }

  &:active {
    background: transparent;
    transform: scale(1);
  }
}

.header {
  &::before {
    display: none;
  }

  @media (max-width: 1400px) {
    font-size: 0;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-image: url('@/assets/images/icons/contact.png');
      background-position: center;
      background-size: contain;
    }
  }
  @media (max-width: 1100px) {
    display: none;
  }
}

.form {
  width: 50%;
  padding: 1rem;
}

.mobile {
  color: $color-dark-1;
  background: $color-light-beige;
  border: none;
}

.card {
  position: relative;
  border: none;
  font-family: $card-font-2;
  // font-size: 1.25rem;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  color: $color-card-text;
  background: transparent;
  padding: 0;
  transition: transform $transition-duration ease;

  @media (max-width: 576px) {
    // font-size: 1rem;
  }
  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  &:focus-visible {
    text-decoration: underline;
    transform: scale(1.05);
  }
}
