@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 280px;
  // max-width: 380px;
  margin-inline: auto;
  padding: 10px 10px 0;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: $transition-duration;
  background: $color-card;

  @media (max-width: 576px) {
    padding: 6px 6px 0;
    max-width: none;
    margin-inline: 0;
  }
  // &:hover {
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // }
}

.imageWrapper {
  @include card-image-wrapper;
}

.dots {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;

  @media (max-width: 576px) {
    gap: 6px;
  }
}

.dot {
  position: relative;
  width: 8px;
  height: 8px;
  background: $color-card;
  border-radius: 50%;
  opacity: 0.5;
  touch-action: manipulation;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
  }

  @media (max-width: 576px) {
    width: 6px;
    height: 6px;
    &::before {
      width: 14px;
      height: 14px;
    }
  }
}

.dotActive {
  @extend .dot;
  background: $color-card-text;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 8px;

  // @media (max-width: 576px) {
  //   padding: 0;
  // }
}

.title {
  font-family: $card-font-2;
  font-weight: $normal-weight;
  color: $color-card-text;
  font-size: 1.4rem;
  line-height: 1.25;

  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  @media (max-width: 576px) {
    font-size: 1.2rem;
    line-height: 1;
  }
}

.order {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: repeating-linear-gradient(
      90deg,
      #e0cfa4,
      #e0cfa4 4px,
      transparent 4px,
      transparent 8px
    );
  }
}

.price {
  position: relative;
  font-family: $card-font-2;
  font-size: 1.4rem;
  text-align: start;
  color: $color-card-text;

  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 1;
  }
}
