.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  row-gap: 20px;
  padding: 40px;
}

.about-us__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(10px, 2.7vw, 50px);
}

.about-us__img {
  width: 100%;
  max-width: 600px;
  height: auto;
  flex-shrink: 1;
}

.about-us__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  row-gap: clamp(20px, 1.5vw, 40px);
}

.about-us__title {
  font-size: clamp(26px, 4vw, 60px);
  text-align: end;
  line-height: 1;
  white-space: nowrap;
}

.about-us__description {
  max-width: 100%;
}

.about-us__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.about-us__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
  max-width: clamp(280px, 20vw, 650px);
}

.about-us__icon {
  width: 100%;
  max-width: clamp(60px, 5vw, 80px);
  height: auto;
}

.about-us__card-title {
  font-size: clamp(24px, 1.3vw, 36px);
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
}

/* .about-us__card-description {
  text-align: start;
} */

@media (max-width: 850px) {
  .about-us__img {
    display: none;
  }

  .about-us {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .about-us__top {
    justify-content: center;
  }

  .about-us::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/clock-decor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
  }

  .about-us__description {
    max-width: clamp(280px, 50vw, 650px);
  }

  .about-us__info {
    position: relative;
    align-items: center;
    text-align: center;
  }

  .about-us__content {
    grid-template-columns: 1fr;
  }

  .about-us__card {
    align-items: center;
    gap: 5px;
  }

  .about-us__title,
  .about-us__card-title,
  .about-us__card-description {
    text-align: center;
    white-space: wrap;
  }
}

/* .title {
  font-size: clamp(26px, 5vw, 72px);
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.description {
  font-size: clamp(14px, 1vw, 16px);
} */
