body {
  color: var(--color-text);
  background-color: var(--color-deep-indigo);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--first-font);
  font-weight: var(--bold-weight);
}

h2 {
  font-weight: var(--normal-weight);
  font-size: clamp(20px, 5vw, 36px);
}

p,
li {
  font-family: var(--second-font);
  font-weight: var(--normal-weight);
}
