.content {
  opacity: 0;
  pointer-events: none;
  animation: showContent var(--transition-duration) 1s forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.link {
  color: var(--color-light-beige);
  transition: all var(--transition-duration);
}

.link:hover {
  color: var(--color-link-hover);
}
