@import "./normalize.css";
@import "./fonts.css";
@import "./variables.css";
@import "./utils.css";
@import "./globals.css";
@import "./base.css";
@import "./container.css";
@import "./preloader.css";
@import "./hero-slider.css";
@import "./decor.css";
@import "./button.css";
@import "./burger.css";
@import "./header.css";
@import "./mobile-menu.css";

.hero-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-height: 100dvh;
  animation: fadeInContent 0.5s ease-out 1s both;

  z-index: var(--layer-content);
}

.hero-wrapper > * {
  position: relative;
  z-index: var(--layer-content);
}

.hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background:
    linear-gradient(rgba(var(--color-deep-indigo-rgb), 0.25)),
    linear-gradient(
      rgba(var(--color-black-rgb), 0.5) 0%,
      rgba(var(--color-deep-indigo-rgb), 0.7) 0%,
      rgba(var(--color-black-rgb), 0) 25%,
      rgba(var(--color-black-rgb), 0) 45%,
      rgba(var(--color-deep-indigo-rgb), 0.4) 75%,
      rgba(var(--color-deep-indigo-rgb), 1) 100%
    );
  z-index: var(--layer-under);
}

.hero {
  margin-bottom: clamp(20px, 5vh, 50px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  color: var(--color-white);
  text-align: center;

  animation: fadeInHeroContent 1s 1s;
}

@keyframes fadeInHeroContent {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleDecor {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.hero__title {
  font-size: clamp(24px, 5vw, 72px);
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
}

.hero__decor {
  width: 100%;
  max-width: clamp(300px, 50vw, 600px);
  height: auto;
  object-fit: contain;
  animation: scaleDecor 1s 1s;
}

.hero__description {
  max-width: clamp(280px, 50vw, 650px);
  font-size: clamp(14px, 1vw, 16px);
}

.hero__description_desktop {
  display: block;
}

.hero__description_mobile {
  display: none;
}

@media (max-width: 1103px) {
  .hero__description_mobile {
    display: block;
  }
  .hero__description_desktop {
    display: none;
  }
}

.hero-wrapper:has(.mobile-menu.open) .hero-content {
  visibility: hidden;
}
